.ipynb_checkpoints
.idea
data/
/Lesson_14/model/
/Lesson_14/t5_model/
/Lesson_14/dataset.jsonl
/Lesson_14/dataset.jsonl
/Lesson_14/lenta-ru-news.csv.bz2
/Lesson_14/Lesson_14_task_2.ipynb # temporary removed, needs reworking
/Course_project/models/
